.con-exp {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

.profile-page {
  max-width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid #00acc1;
}

.profile-card h2 {
  margin: 10px 0;
  font-size: 28px;
  color: #00796b;
}

.profile-card p {
  font-size: 16px;
  color: #555;
}

.profile-card .exp-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  margin: 15px 0;
  height: 15px;
  overflow: hidden;
}

.profile-card .exp-bar {
  background-color: #00acc1;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.profile-card .level {
  font-size: 20px;
  font-weight: bold;
  color: #00796b;
  margin-top: 10px;
  animation: levelUp 0.5s ease;
}

@keyframes levelUp
